.menuButton {
  display: block;
  background: var(--color-background-light);
  color: var(--color-text-light);
}

.dark.menuButton {
  background: var(--color-background-dark);
  color: var(--color-text-dark);
}

.menuButton:focus {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

.icon {
  width: calc(var(--space-xl));
  height: calc(var(--space-xl));
}

@media (min-width: 768px) {
  .menuButton {
    display: none;
  }
}
