.menuButton {
  display: block;
  background: var(--bg-color-light);
  color: var(--text-color-light);
}

.dark .menuButton {
  background: var(--bg-color-dark);
}

.dark .menuButton .icon {
  fill: var(--text-color-dark);
}

.menuButton:focus {
  outline: 2px solid var(--focus-color);
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .menuButton {
    display: none;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
}

.dark .icon {
  color: var(--text-color-dark);
  fill: var(--text-color-dark);
}
