.navLink {
  font-weight: bold;
  text-decoration: none;
}

.navItem:focus {
  outline: 2px solid var(--focus-color);
  outline-offset: 2px;
}

.navItem a {
  color: var(--text-color-light);
}

.navItem a.active {
  color: var(--active-link-color-light);
  font-weight: bold;
}

.navItem a.active {
  color: var(--active-link-color-dark);
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.dark.navLink {
  color: var(--text-color-dark);
}

.dark .navItem a.active {
  color: var(--active-link-color-dark);
  font-weight: bold;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.dark .icon {
  color: var(--text-color-dark);
  fill: var(--text-color-dark);
}
