.navLink {
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}

.navItem:focus {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

.navItem a {
  color: var(--color-text-light);
}

.navItem a.active {
  color: var(--color-brand-primary);
  font-weight: var(--font-weight-bold);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-md);
}

.dark.navLink {
  color: var(--color-text-dark);
}

.dark .navItem a.active {
  color: var(--color-brand-primary);
  font-weight: var(--font-weight-bold);
}

.icon {
  width: var(--space-xl);
  height: var(--space-xl);
}

.dark .icon {
  color: var(--color-text-dark);
  fill: var(--color-text-dark);
}
