.navList {
  display: flex;
  align-items: center;
  gap: var(--space-xl);
  list-style: none;
}

.mobileMenu {
  display: flex;
  background-color: var(--color-background-light);
  flex-direction: column;
  position: fixed;
  top: var(--height-navbar);
  right: 0;
  bottom: 0;
  padding: var(--space-xl);
  width: var(--width-mobile-menu);
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  border-left: 1px solid rgba(115, 115, 115, 0.5);
}

.open {
  transform: translateX(0);
}

.hidden {
  display: none;
}

.navItem:focus {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-md);
}

.dark.mobileMenu {
  background-color: var(--color-background-dark);
}

@media (min-width: 768px) {
  .mobileMenu {
    display: none;
    transform: translateX(0);
  }

  .navList {
    display: flex;
  }
}
