.navigationHeading {
  font-weight: bold;
}

.header {
  position: fixed;
  background: var(--color-background-light);
  width: 100%;
  padding: 0 var(--space-xl);
  box-shadow: var(--shadow-navbar);
  height: var(--height-navbar);
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menuAndThemeToggle {
  display: flex;
  gap: var(--space-md);
}

.dark.header {
  background-color: var(--color-background-dark);
}

.icon {
  width: var(--space-xl);
  height: var(--space-xl);
}

.dark .icon {
  color: var(--color-text-dark);
  fill: var(--color-text-dark);
}
